@import url(Global.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-bloc{
  display: flex;
  justify-content: center;
  align-items: center;
}

#section{
  background-color: var(--branco);
  width: 779.35px;
  height: 730.37px;
  border-radius: 20px;
  margin: 61px auto;
}

.return-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  cursor: pointer;
} 

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  position: relative;
}

.input-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

#input-field,
#input-title,
#input-decricao {
  flex: 1;  
  position: relative;
}

#input-field input {
  width: 570.21px;
  height: 56px;
  border: 1px solid var(--Azul);
  border-radius: 10px;
  background-color: #33333353 ;
  color: var(--branco);
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

#input-title input {
  width: 570.21px;
  height: 56px;
  border: 1px solid var(--Azul);
  border-radius: 10px;
  background-color: #33333353 ;
  color: var(--branco);
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

#input-decricao input {
  width: 570.21px;
  height: 201.9px;
  border: 1px solid var(--Azul);
  border-radius: 10px;
  background-color: #33333353 ;
  color: var(--branco);
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

#input-field label,
#input-title label,
#input-decricao label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--preto);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

#input-field input:focus + label,
#input-field input:not(:placeholder-shown) + label,
#input-title input:focus + label,
#input-title input:not(:placeholder-shown) + label,
#input-decricao input:focus + label,
#input-decricao input:not(:placeholder-shown) + label{
  top: -0px;
  left: 10px;
  font-size: 16px;
  background-color: #ffff;
  color: var(--preto);
  padding: 0 5px;
}

#button-cadastro {
  width: 273.7px;
  height: 57.35px;
  background-color: var(--Laranja);
  margin: 2%;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: var(--branco);
  font-weight: bold;
  box-shadow: -4px 3px 3px var(--preto);
  cursor: pointer;
  transition: all 0.3s ease;
}

#button-cadastro:hover {
  background-color: #c75319;
  color: #c9c9c9;
  transform: translateY(-2px);
  box-shadow: -4px 5px 5px var(--preto);
}