@import url(Global.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#tanaka{
  width:420px;
  height: 594px;
  margin-right: -40pc;
  margin-top: -8pc;
}

#title {
  margin-top: 25px;
  font-size: 36px;
  color: var(--Laranja);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
  top: -23pc;
}

.header-block {
  background-color: var(--preto);
  width: 233px;
  height: 105.71px;
  border: 1px solid var(--Azul);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--Azul);
  margin-bottom: -50px;
  position: absolute;
  top: -10%;
}

.header-block h2 {
  color: var(--Verde_Agua);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.form-container {
  background-color: #2e2e2ed3;

  width: 600px;
  height: 500px;
  border: 1px solid var(--Azul);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px var(--Azul);
}

#form{
  padding-top: 40px;
}

.return-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.instructions {
  text-align: center;
  margin-bottom: 30px;
  width: 256.02px;
  color: var(--branco);
  font-size: 18px;
  line-height: 1.5;
}

#link{
    color: var(--Laranja);
}

#bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#bloc01,
#bloc02{
    padding: 10px 20px;
}

.input{
    width: 37.35px;
    height: 56px;
    background-color: #333333;
    padding: 10px;
    border: 1px solid var(--Azul);
    border-radius: 10px;    
    padding: 10px;
    font-size: 16px;
    color: var(--branco);
}

.submit-button, 
.button-link{
  width: 373.32px;
  max-width: 373px;
  height: 45px;
  background-color: var(--Laranja);
  border: 1px solid var(--preto);
  border-radius: 15px;
  font-size: 20px;
  color: var(--branco);
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: var(--Laranja_hover);
  color: #dad7d7;
}

#img1{
  width: 221.59px;
  height: 480.44ps;
  margin-left: -88.7%;
  margin-top: -24%;
}

#img2 {
  width: 222.59px;
  height: 521.44ps;
  margin-right: -88%;
  margin-top: -28.5%;
}