@import url("../css/Global.css");

* {
  margin: 0px;
  font-family: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

body {
  background: var(--preto);
}

#top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top #title {
  margin-top: 25px;
  font-size: 36px;
  color: var(--Laranja);
}

#section-menu{
  display: flex;
  justify-content: center;
}

#section-block{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--barnco);
  opacity: 20%;
  width: 600px;
  height: 500px;
  border: 1px solid var(--Azul);
  border-radius: 20px;
  box-shadow: -1 4 30 10 var(--Azul);
}
