:root {
  --preto: #000000;
  --branco: #FFFFFF;
  --Laranja: #FF6B00;
  --Laranja_hover: #E55A00;
  --Azul: #0066CC;
  --Verde_Agua: #00CCCC;
  --cinza: #CCCCCC;
  --Marrom: #77553B;
  --Marron_escuro: #4D3632;
}