@import url("../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
@import url("../fonts/Inter-VariableFont_opsz\,wght.ttf");

:root {
  --Laranja: #cc6b21;
  --Laranja_hover: #9b521b;
  --vermelho: #cc3921;
  --Azul: #215ecc;
  --Verde_Agua: #21b8cc;
  --Marrom: #77553b;
  --Marrom_Escuro: #4d3632;
  --preto: #000000;
  --barnco: #ffffff;
}
