@import url(Global.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-bloc{
  background-color: var(--branco);
  width: 1100px;
  height: 1113.19px;
}

#section{
  display: flex;
  justify-content: center;
}

#section-menu {
  width: 805.81px;
  height: 109.81px;
  background-color: var(--Marrom);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  margin: 50px;
}

#section-menu a {
  padding-right: 40px;
  text-decoration: none;
  color: var(--branco);
  transition: color 0.3s ease;
}

#section-menu a:hover {
  color: var(--Laranja);
}

#section-float {
  display: flex;
}

#button-cadastro {
  width: 273.7px;
  height: 57.35px;
  background-color: var(--Laranja);
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: var(--branco);
  font-weight: bold;
  box-shadow: -4px 3px 3px var(--preto);
  cursor: pointer;
  transition: all 0.3s ease;
}

#button-cadastro:hover {
  background-color: #c75319;
  color: #c9c9c9;
  transform: translateY(-2px);
  box-shadow: -4px 5px 5px var(--preto);
}